.qIndex{
    font-size:3rem;
}

.question{
    font-size:1.3rem;
    padding: 5% 0% 5% 10%;
}

input[type="number"] {
    margin-left: 1rem;
    border: 0.5px solid gray;
    width: 6vw;
    height: 6vw;
    text-align:center;
    font-size:0.8rem;
}

.qIndex {
    color: #fff;
    background-color: #17a2b8;
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 4%;
    font-size: 1.3rem;
}

#answer li{
    margin:2% 0%;
    list-style: none;
}

.next {
    float:right;
    margin-top:2%;
}

div.typeTitle{
    background: #cecece;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    letter-spacing: 0.1rem;
}

#gotoBing{
    width:25%;
    position:relative;
    left:37.5%;
    margin-top:15%;
}

#answer li {
    border: 1px solid black;
}

.number {
    width: 13.5vw;
    background: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13.5vw;
    border: 0.5px solid black;
    box-sizing: border-box;
    text-align:center;
    border-radius:0px;
}

.numberBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer {
    background: #d8d8d8;
    color: black;
    text-align: left;
    padding: 5%;
    font-size: 0.85rem;
}

.answer .badge{
    font-size:1rem;
}

.selected{
    background:red;
}
