<div id="qa" class="qa" *ngIf="!gameEnd">
  <div class="qIndex badge badge-info">{{id + 1}}/48</div>
  <div id="question" class="question">{{qaes[id].q}}</div>
  <ul id="answer">
    <li>
      <span>A.</span>
      <span class="answer">{{qaes[id].A.text}}</span>
      <input type="number" pattern="\d*" [(ngModel)]="qaes[id].A.value" (keyup)="onChange($event.target.value,'A','B')" />
    </li>
    <li>
      <span>B.</span>
      <span class="answer">{{qaes[id].B.text}}</span>
      <input type="number"  pattern="\d*" [(ngModel)]="qaes[id].B.value" (keyup)="onChange($event.target.value,'B','A')" />
    </li>
  </ul>
  <button class="next btn btn-primary" (click)="onBtntext()">{{btnText}}</button>
</div>
<div id="type" *ngIf="gameEnd">
  <div class="typeTitle">
  {{type[0] + type[1] + type[2] + type[3]}}
  </div>
  <a id="gotoBing" href="{{typeUrl}}" class="btn btn-primary">了解详情</a>
</div>