<div id="qa" class="qa">
  <div class="qIndex badge badge-info">{{id + 1}}</div>
  <div id="question" class="question">{{qaes[id].q}}</div>
  <ul id="answer">
    <li>
      <span>A.</span>
      <span class="answer">{{qaes[id].A.text}}</span>
      <input type="number" [(ngModel)]="qaes[id].A.value" (keyup)="onChange($event.target.value,'A','B')" />
    </li>
    <li>
      <span>B.</span>
      <span class="answer">{{qaes[id].B.text}}</span>
      <input type="number"  [(ngModel)]="qaes[id].B.value" (keyup)="onChange($event.target.value,'B','A')" />
    </li>
  </ul>
  <button class="next btn btn-primary" (click)="onBtntext()">{{btnText}}</button>
</div>