<div id="readMe" class="{{readMeClass}}">
<h5>注意事项</h5>
<ol>
  <li>请在心态平和及时间充足的情况下才开始答题。
  </li>
  <li>每道题目均有两个答案：A和B。请仔细阅读题目，按照与你性格相符的程度分别给A和B赋予一个分数，并使一组中的两个分数之和为5。最后，请在问卷后的答题纸上相应的方格内填上相应的分数。
  </li>
  <li>请注意，题目的答案无对错之分，你不需要考虑哪个答案“应该”更好，而且不要在任何问题上思考太久，而是应该凭你心里的第一反应做出选择。
  </li>
  <li>如果你觉得在不同的情境里，两个答案或许都能反映你的倾向，请选择一个对于你的行为方式来说最自然、最顺畅和最从容的答案。
  </li>
</ol>
<blockquote>例子：“你参与社交聚会时”<br/>
A．总是能认识新朋友。       （ 4 ）<br/>
B．只跟几个亲密挚友呆在一起。 （ 1 ）<br/>
</blockquote>
<p>如果你认为自己参与社交聚会时常常能认识新朋友，但偶尔又会只跟几个亲密挚友呆在一起，那么在该例子中，你可以给总是能认识新朋友打4分，而给只跟几个亲密挚友呆在一起打1分。当然，根据不同程度你可以选择3+2或者5+0，也可以是其他的组合。</p>

<nav>
  <a id="readMeBtn" class="btn btn-primary" routerLink="/qa">我已知晓</a>
</nav>

</div>
